In [1]:
# write a simple function

def shout():
    '''Print a string with three exclamation marks'''
    shout_word = ' congratulations' + '!!!'
    print(shout_word)
    
shout()

 congratulations!!!

In [2]:
# define shout with the parameter, word

def  shout(word):
    '''Print a string with three exclamation marks'''
    shout_word = word + '!!!'
    print(shout_word)
    
shout('congratugratulations')

congratugratulations!!!

In [3]:

def shout(word):
    '''Return a string with three exclamation marks'''
    shout_word = word + '!!!'
    return shout_word

yell = shout('congratulations')

print(yell)

congratulations!!!

In [4]:
# define shout with parameters word1 and word2
def shout(word1, word2):
    '''contatenate strings with threee exclamation marks'''
    shout1 = word1 + '!!!'
    shout2 = word2 + '!!!'
    new_shout = shout1 + shout2
    return new_shout


yell = shout('congratulations', 'Arturo')

print(yell)

congratulations!!!Arturo!!!

In [5]:
nums = (3, 4, 6)
# unpack nums
num1, num2, num3 = nums
even_nums = (2, nums)

In [7]:
# define shout_all with parameters word1 and word2
def shout_all(word1, word2):
    shout1 = word1 + '!!!'
    shout2 = word2 + '!!!'
    shout_words = (shout1, shout2)
    return shout_words

yell1, yell2 = shout_all('congratulations', 'Arturo')

print(yell1)
print(yell2)

congratulations!!!
Arturo!!!

In [8]:
import pandas as pd
df = pd.read_csv('data/tweets.csv')
print(df.head())

   contributors  coordinates                      created_at  \
0           NaN          NaN  Tue Mar 29 23:40:17 +0000 2016
1           NaN          NaN  Tue Mar 29 23:40:17 +0000 2016
2           NaN          NaN  Tue Mar 29 23:40:17 +0000 2016
3           NaN          NaN  Tue Mar 29 23:40:17 +0000 2016
4           NaN          NaN  Tue Mar 29 23:40:17 +0000 2016

                                            entities  \
0  {'hashtags': [], 'user_mentions': [{'screen_na...
1  {'hashtags': [{'text': 'cruzsexscandal', 'indi...
2  {'hashtags': [], 'user_mentions': [], 'symbols...
3  {'hashtags': [], 'user_mentions': [], 'symbols...
4  {'hashtags': [], 'user_mentions': [{'screen_na...

                                   extended_entities  favorite_count  \
0  {'media': [{'sizes': {'large': {'w': 1024, 'h'...               0
1  {'media': [{'sizes': {'large': {'w': 500, 'h':...               0
2                                                NaN               0
3                                                NaN               0
4                                                NaN               0

   favorited filter_level  geo                  id  \
0      False          low  NaN  714960401759387648
1      False          low  NaN  714960401977319424
2      False          low  NaN  714960402426236928
3      False          low  NaN  714960402367561730
4      False          low  NaN  714960402149416960

                         ...                          quoted_status_id  \
0                        ...                                       NaN
1                        ...                                       NaN
2                        ...                                       NaN
3                        ...                              7.149239e+17
4                        ...                                       NaN

  quoted_status_id_str  retweet_count  retweeted  \
0                  NaN              0      False
1                  NaN              0      False
2                  NaN              0      False
3         7.149239e+17              0      False
4                  NaN              0      False

                                    retweeted_status  \
0  {'retweeted': False, 'text': ".@krollbondratin...
1  {'retweeted': False, 'text': '@dmartosko Cruz ...
2                                                NaN
3                                                NaN
4  {'retweeted': False, 'text': 'The anti-America...

                                              source  \
0  <a href="http://twitter.com" rel="nofollow">Tw...
1  <a href="http://twitter.com" rel="nofollow">Tw...
2  <a href="http://www.facebook.com/twitter" rel=...
3  <a href="http://twitter.com/download/android" ...
4  <a href="http://twitter.com/download/iphone" r...

                                                text   timestamp_ms truncated  \
0  RT @bpolitics: .@krollbondrating's Christopher...  1459294817758     False
1  RT @HeidiAlpine: @dmartosko Cruz video found.....  1459294817810     False
2  Njihuni me ZonjÃ«n Trump !!! | Ekskluzive https...  1459294817917     False
3  Your an idiot she shouldn't have tried to grab...  1459294817903     False
4  RT @AlanLohner: The anti-American D.C. elites ...  1459294817851     False

                                                user
0  {'utc_offset': 3600, 'profile_image_url_https'...
1  {'utc_offset': None, 'profile_image_url_https'...
2  {'utc_offset': 7200, 'profile_image_url_https'...
3  {'utc_offset': None, 'profile_image_url_https'...
4  {'utc_offset': -18000, 'profile_image_url_http...

[5 rows x 31 columns]

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 31 columns):
contributors                 0 non-null float64
coordinates                  0 non-null float64
created_at                   100 non-null object
entities                     100 non-null object
extended_entities            20 non-null object
favorite_count               100 non-null int64
favorited                    100 non-null bool
filter_level                 100 non-null object
geo                          0 non-null float64
id                           100 non-null int64
id_str                       100 non-null int64
in_reply_to_screen_name      11 non-null object
in_reply_to_status_id        8 non-null float64
in_reply_to_status_id_str    8 non-null float64
in_reply_to_user_id          11 non-null float64
in_reply_to_user_id_str      11 non-null float64
is_quote_status              100 non-null bool
lang                         100 non-null object
place                        3 non-null object
possibly_sensitive           72 non-null object
quoted_status                14 non-null object
quoted_status_id             14 non-null float64
quoted_status_id_str         14 non-null float64
retweet_count                100 non-null int64
retweeted                    100 non-null bool
retweeted_status             62 non-null object
source                       100 non-null object
text                         100 non-null object
timestamp_ms                 100 non-null int64
truncated                    100 non-null bool
user                         100 non-null object
dtypes: bool(4), float64(9), int64(5), object(13)
memory usage: 21.6+ KB

In [10]:
df.describe()

,contributors,coordinates,favorite_count,geo,id,id_str,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,quoted_status_id,quoted_status_id_str,retweet_count,timestamp_ms
count,0.0,0.0,100.0,0.0,1.000000e+02,1.000000e+02,8.000000e+00,8.000000e+00,1.100000e+01,1.100000e+01,1.400000e+01,1.400000e+01,100.0,1.000000e+02
mean,NaN,NaN,0.0,NaN,7.149604e+17,7.149604e+17,7.108866e+17,7.108866e+17,2.990660e+08,2.990660e+08,7.149298e+17,7.149298e+17,0.0,1.459295e+12
std,NaN,NaN,0.0,NaN,2.466478e+09,2.466478e+09,7.535624e+15,7.535624e+15,7.661897e+08,7.661897e+08,3.357189e+13,3.357189e+13,0.0,5.880544e+02
min,NaN,NaN,0.0,NaN,7.149604e+17,7.149604e+17,6.986775e+17,6.986775e+17,1.596421e+07,1.596421e+07,7.148444e+17,7.148444e+17,0.0,1.459295e+12
25%,NaN,NaN,0.0,NaN,7.149604e+17,7.149604e+17,7.108778e+17,7.108778e+17,2.313262e+07,2.313262e+07,7.149182e+17,7.149182e+17,0.0,1.459295e+12
50%,NaN,NaN,0.0,NaN,7.149604e+17,7.149604e+17,7.149572e+17,7.149572e+17,2.507388e+07,2.507388e+07,7.149246e+17,7.149246e+17,0.0,1.459295e+12
75%,NaN,NaN,0.0,NaN,7.149604e+17,7.149604e+17,7.149591e+17,7.149591e+17,3.178486e+07,3.178486e+07,7.149599e+17,7.149599e+17,0.0,1.459295e+12
max,NaN,NaN,0.0,NaN,7.149604e+17,7.149604e+17,7.149600e+17,7.149600e+17,2.567842e+09,2.567842e+09,7.149603e+17,7.149603e+17,0.0,1.459295e+12

In [12]:
langs_count = {}

col = df['lang']

for entry in col:
    if entry in langs_count.keys():
        langs_count[entry] += 1
    else:
        langs_count[entry] = 1
        
print(langs_count)

{'en': 97, 'et': 1, 'und': 2}

In [13]:
col.head()

0    en
1    en
2    et
3    en
4    en
Name: lang, dtype: object

In [15]:
def count_entries(df, col_name):
    langs_count = {}
    col = df[col_name]
    
    for entry in col:
        if entry in langs_count.keys():
            langs_count[entry] += 1
        else:
            langs_count[entry] = 1
    return langs_count

result = count_entries(df, 'lang')
print(result)

{'en': 97, 'et': 1, 'und': 2}