In [1]:
nums = [12, 8, 21, 3, 16]

new_nums = []

for num in nums:
    new_nums.append(num + 1)
    
        
        
print(new_nums)

[13, 9, 22, 4, 17]

In [2]:
new_list = [x + 1 for x in nums]
print(new_list)

[13, 9, 22, 4, 17]

In [3]:
'''
List comprehensions
* Collapse for loops for bulding lists into a single line
* Components
    1) Iterable
    2) Iterator variable(represent members of iterable)
    3) Output expression
'''

# nested loops 

pairs_1 = []

for num1 in range(0, 2):
    for num2 in range(6, 8):
        pairs_1.append((num1, num2))
        
print(pairs_1)

[(0, 6), (0, 7), (1, 6), (1, 7)]

In [4]:
pairs_2 = [(num1, num2) for num1 in range(0, 2) for num2 in range(6, 8)]

print(pairs_2)

[(0, 6), (0, 7), (1, 6), (1, 7)]

In [5]:
doctor = ['house', 'cuddy', 'chase', 'thirteen', 'wilson']
print([doc[0] for doc in doctor])

['h', 'c', 'c', 't', 'w']

In [7]:
squares = [i**2 for i in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [9]:
matrix = [[col for col in range(0, 5)] for i in range(0, 5)]

for row in matrix:
    print(row)

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]

In [10]:
# conditional in comprehensions

[num ** 2 for num in range(10) if num % 2 == 0]
# % modulo operatior

[0, 4, 16, 36, 64]

In [11]:
[num ** 2 if num % 2 == 0 else 0 for num in range(10)]

[0, 0, 4, 0, 16, 0, 36, 0, 64, 0]

In [12]:
pos_neg = {num:-num for num in range(9)}
print(pos_neg)

{0: 0, 1: -1, 2: -2, 3: -3, 4: -4, 5: -5, 6: -6, 7: -7, 8: -8}

In [18]:
fellowship = ['frodo', 'samwise', 'merry', 'aragorn', 'legolas', 'boromir', 'gimli']
new_fellowship = [member for member in fellowship if len(member) >= 7]
print(new_fellowship)

['samwise', 'aragorn', 'legolas', 'boromir']

In [20]:
new_fellowship = [member if len(member) >= 7 else '' for member in fellowship]
print(new_fellowship)

['', 'samwise', '', 'aragorn', 'legolas', 'boromir', '']

In [21]:
new_dict = {member: len(member) for member in fellowship}
print(new_dict)

{'frodo': 5, 'samwise': 7, 'merry': 5, 'aragorn': 7, 'legolas': 7, 'boromir': 7, 'gimli': 5}

In [22]:
# generator expressions
[2 * num for num in range(10)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [23]:
(2 * num for num in range(10))

In [24]:
# a generator is like a list comprehension, except it does not store
# the list in memory, it doesn't construct the list but is an object 
# we can iterate over
result = (2 * num for num in range(10))
for i in result:
    print(i)

0
2
4
6
8
10
12
14
16
18

In [25]:
# lazy evaluation
result = (num for num in range(5))
print(next(result))
print(next(result))
print(next(result))
print(next(result))

0
1
2
3

In [27]:
# [num for num in range(10**145)] # too big
(num for num in range(10**145))

In [30]:
'''generator functions
* Produces generator objects when called
* Defined like a regular function -def
* Yields a sequence of values instead of returning a single value
'''
def num_sequence(n):
    while i < n:
        yield i 
        i + 1

In [37]:
result = num_sequence(10)
#print(type(result))

In [38]:
for item in result:
    print(item)

In [39]:
result = (num for num in range(31))
print(next(result))
print(next(result))
print(next(result))
print(next(result))
print(next(result))

# Print the rest of the values
for value in result:
    print(value)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [40]:
lannister = ['cersei', 'jaime', 'tywin', 'tyrion', 'joffrey']

lengths = (len(person) for person in lannister)

for value in lengths:
    print(value)

6
5
5
6
7

In [41]:
def get_lengths(input_list):
    for person in input_list:
        yield len(person)
        
        
for value in get_lengths(lannister):
    print(value)

6
5
5
6
7

In [43]:
import pandas as pd
df = pd.read_csv('data/tweets.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 31 columns):
contributors                 0 non-null float64
coordinates                  0 non-null float64
created_at                   100 non-null object
entities                     100 non-null object
extended_entities            20 non-null object
favorite_count               100 non-null int64
favorited                    100 non-null bool
filter_level                 100 non-null object
geo                          0 non-null float64
id                           100 non-null int64
id_str                       100 non-null int64
in_reply_to_screen_name      11 non-null object
in_reply_to_status_id        8 non-null float64
in_reply_to_status_id_str    8 non-null float64
in_reply_to_user_id          11 non-null float64
in_reply_to_user_id_str      11 non-null float64
is_quote_status              100 non-null bool
lang                         100 non-null object
place                        3 non-null object
possibly_sensitive           72 non-null object
quoted_status                14 non-null object
quoted_status_id             14 non-null float64
quoted_status_id_str         14 non-null float64
retweet_count                100 non-null int64
retweeted                    100 non-null bool
retweeted_status             62 non-null object
source                       100 non-null object
text                         100 non-null object
timestamp_ms                 100 non-null int64
truncated                    100 non-null bool
user                         100 non-null object
dtypes: bool(4), float64(9), int64(5), object(13)
memory usage: 21.6+ KB

In [45]:
tweet_time = df['created_at']

print(tweet_time.head())

0    Tue Mar 29 23:40:17 +0000 2016
1    Tue Mar 29 23:40:17 +0000 2016
2    Tue Mar 29 23:40:17 +0000 2016
3    Tue Mar 29 23:40:17 +0000 2016
4    Tue Mar 29 23:40:17 +0000 2016
Name: created_at, dtype: object

In [46]:
tweet_time[0][11:19]

'23:40:17'

In [47]:
tweet_clock_time = [entry[11:19] for entry in tweet_time]
print(tweet_clock_time)

['23:40:17', '23:40:17', '23:40:17', '23:40:17', '23:40:17', '23:40:17', '23:40:18', '23:40:17', '23:40:18', '23:40:18', '23:40:18', '23:40:17', '23:40:18', '23:40:18', '23:40:17', '23:40:18', '23:40:18', '23:40:17', '23:40:18', '23:40:17', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:17', '23:40:18', '23:40:18', '23:40:17', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:19', '23:40:18', '23:40:18', '23:40:18', '23:40:19', '23:40:19', '23:40:19', '23:40:18', '23:40:19', '23:40:19', '23:40:19', '23:40:18', '23:40:19', '23:40:19', '23:40:19', '23:40:18', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19']

In [48]:
tweet_clock_time_condition = [entry[11:19] for entry in tweet_time if entry[17:19] == '19']
print(tweet_clock_time_condition)

['23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19', '23:40:19']