In [1]:
offset = 8

while offset != 0:
    print('correcting ...')
    offset -= 1
    print(offset)

correcting ...
7
correcting ...
6
correcting ...
5
correcting ...
4
correcting ...
3
correcting ...
2
correcting ...
1
correcting ...
0

In [2]:
offset = -6

while offset != 0: 
    print('correcting...')
    if offset > 0:
        offset -= 1
    else:
        offset += 1
    print(offset)

correcting...
-5
correcting...
-4
correcting...
-3
correcting...
-2
correcting...
-1
correcting...
0

In [3]:
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

for i in areas:
    print(i)

11.25
18.0
20.0
10.75
9.5

In [4]:
for x, y in enumerate(areas):
    print('room ' + str(x) + ' : ' + str(y))

room 0 : 11.25
room 1 : 18.0
room 2 : 20.0
room 3 : 10.75
room 4 : 9.5

In [6]:
# house list of lists
house = [["hallway", 11.25], 
         ["kitchen", 18.0], 
         ["living room", 20.0], 
         ["bedroom", 10.75], 
         ["bathroom", 9.50]]
       
for element in house:
    print('the ' + str(element[0]) + ' is ' + str(element[1]) + ' sqm')

the hallway is 11.25 sqm
the kitchen is 18.0 sqm
the living room is 20.0 sqm
the bedroom is 10.75 sqm
the bathroom is 9.5 sqm

In [7]:
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin',
          'norway':'oslo', 'italy':'rome', 'poland':'warsaw', 'austria':'vienna' }
          
for key, value in europe.items():
    print('the capital of ' + str(key) + ' is ' + str(value))

the capital of spain is madrid
the capital of france is paris
the capital of germany is berlin
the capital of norway is oslo
the capital of italy is rome
the capital of poland is warsaw
the capital of austria is vienna

In [10]:
import pandas as pd
cars = pd.read_csv('data/cars.csv', index_col=0)

for lab, row in cars.iterrows():
    print(lab)
    print(row)

US
cars_per_cap              809
country         United States
drives_right             True
Name: US, dtype: object
AUS
cars_per_cap          731
country         Australia
drives_right        False
Name: AUS, dtype: object
JAP
cars_per_cap      588
country         Japan
drives_right    False
Name: JAP, dtype: object
IN
cars_per_cap       18
country         India
drives_right    False
Name: IN, dtype: object
RU
cars_per_cap       200
country         Russia
drives_right      True
Name: RU, dtype: object
MOR
cars_per_cap         70
country         Morocco
drives_right       True
Name: MOR, dtype: object
EG
cars_per_cap       45
country         Egypt
drives_right     True
Name: EG, dtype: object

In [11]:
for lab, row in cars.iterrows():
    print(str(lab) + ' : ' + str(row['cars_per_cap']))

US : 809
AUS : 731
JAP : 588
IN : 18
RU : 200
MOR : 70
EG : 45

In [12]:
for lab, row in cars.iterrows():
    cars.loc[lab, 'COUNTRY'] = row['country'].upper()
    
    
print(cars)

     cars_per_cap        country  drives_right        COUNTRY
US            809  United States          True  UNITED STATES
AUS           731      Australia         False      AUSTRALIA
JAP           588          Japan         False          JAPAN
IN             18          India         False          INDIA
RU            200         Russia          True         RUSSIA
MOR            70        Morocco          True        MOROCCO
EG             45          Egypt          True          EGYPT

In [14]:
cars['COUNTRY'] = cars['country'].apply(str.upper)
print(cars)

     cars_per_cap        country  drives_right        COUNTRY
US            809  United States          True  UNITED STATES
AUS           731      Australia         False      AUSTRALIA
JAP           588          Japan         False          JAPAN
IN             18          India         False          INDIA
RU            200         Russia          True         RUSSIA
MOR            70        Morocco          True        MOROCCO
EG             45          Egypt          True          EGYPT